{% extends "base.html" %}
{% block content %}
{% load static %}
<main id="main"> 
       <!-- ======= Resume Section ======= -->
       <section id="resume" class="resume">
        <div class="container">
  
          <div class="section-title">
            <h2>Resume</h2>
            <p>I possess a strong interest in coding and am eager to develop new software. I am constantly seeking out new technology to enhance my abilities. I have successfully completed numerous projects. My background is in backend web development, and I am an expert in Python and the Django programming framework. Additionally, I have a prior experience in backend development for 3W Business private Limited.</p>
          </div>
  
          <div class="row">
            <div class="col-lg-6" data-aos="fade-up">
              <h3 class="resume-title">Sumary</h3>
              <div class="resume-item pb-0">
                <h4>Md Arif</h4>
                <p><em>i love codeing</em></p>
                <ul>
                  <li>Shyamoli, Dhaka, Bangladesh</li>
                  <li>(+880) 1955-685500</li>
                  <li>arifmahmudovi997@gmail.com</li>
                </ul>
              </div>
  
              <h3 class="resume-title">Education</h3>
              <div class="resume-item">
                <h4>B.SC &amp; Computer Science & Engineering</h4>
                <h5>2017 - 2022</h5>
                <p><em>Satarkul, Badda, Dhaka-1212, Bangladesh</em></p>
                <p>CGPA - 3.1</p>
              </div>
              <div class="resume-item">
                <h4>Higher Secondary &amp; Tazomuddin Collage</h4>
                <h5>2014 - 2017</h5>
                <p><em>HAT SHOSHIGONG,TAZUMUDDIN, BHOLA, Bangladesh</em></p>
                <p>CGPA - 3.75</p>
              </div>
              <div class="resume-item">
                <h4>Secondary School &amp; Shambhupur Secondary School</h4>
                <h5>2012 - 2013</h5>
                <p><em>Khaser Hat, Shambhupur, Tazomuddin, BHOLA, Bangladesh</em></p>
                <p>CGPA - 3.75</p>
              </div>
            </div>
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
              <h3 class="resume-title">Professional Experience</h3>
              <div class="resume-item">
                <h4>Backend Developer </h4>
                <h5>Worked – 6’th March to 4’th June-2023
                </h5>
                <p><em>3W Business private Limited
                </em></p>
                <p><em>UTTAR PRADESH, INDIA 
                </em></p>
                <ul>
                  <li></li>
                  <li>Delegate tasks to the 7 members of the design team and provide counsel on all aspects of the project. </li>
                  <li>Supervise the assessment of all graphic materials in order to ensure quality and accuracy of the design</li>
                  <li>Oversee the efficient use of production project budgets ranging from $2,000 - $25,000</li>
                </ul>
              </div>
              <div class="resume-item">
                <h4>– Audit Associate</h4>
                <h5>Worked – 9’th October 2021 – 20’th June 2022</h5>
                <p><em>Masih Muhith Haque & Co.</em></p>
                <p><em>Level 13, UTC Building, 8, Panthapath, Dhaka 1215</em></p>
                <ul>
                  <li>Developed numerous marketing programs (logos, brochures,infographics, presentations, and advertisements).</li>
                  <li>Managed up to 5 projects or tasks at a given time while under pressure</li>
                  <li>Recommended and consulted with clients on the most appropriate graphic design</li>
                  <li>Created 4+ design presentations and proposals a month for clients and account managers</li>
                </ul>
              </div>
            </div>
          </div>
  
        </div>
      </section><!-- End Resume Section --> 
</main>
{% endblock %}    